<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<title>Newsletters</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<h1>login</h1>
<p th:text="${message}"></p>

<form method="post">
  <label for="username">Username</label>
    <input type="text" id="username" placeholder="username"/>
    <label for="password"></label>
    <input type="password" id="password" placeholder="password"/>
    <button type="submit" formaction="/">login</button>

</form>

</body>
</html>
