<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nyhedsbreve</title>
    <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<header>
</header>

<h1>Liste af Nyhedsbreve</h1>

<!-- Hvis der er ingen nyhedsbreve -->
<div th:if="${#lists.isEmpty(newsletters)}">
    <p>Der er ingen nyhedsbreve tilgængelige.</p>
</div>

<!-- Hvis der er nyhedsbreve -->
<div th:unless="${#lists.isEmpty(newsletters)}">
    <p>Antal nyhedsbreve: <span th:text="${newsletters.size()}"></span></p>

    <div class="newsletter-container">
        <th:block th:each="newsletter : ${newsletters}">
            <div class="newsletter">
                <h2 th:text="${newsletter.title}"></h2>
                <p th:text="${newsletter.teasertext}"></p>
                <p>Udgivet: <span th:text="${newsletter.published}"></span></p>

                <!-- Thumbnail billede -->
                <div th:if="${newsletter.thumbnail_name != null}">
                    <img th:src="@{/files/{thumbnail}(thumbnail=${newsletter.thumbnail_name})}" alt="Thumbnail" />
                </div>

                <!-- Link til nyhedsbrev -->
                <a th:href="@{'/files/' + ${newsletter.filename} + '.pdf'}">Læs nyhedsbrev</a>
            </div>
        </th:block>
    </div>

    <a th:href="@{/upload}" class="upload-link">Tilføj et nyt nyhedsbrev</a>

</div>

</body>
</html>
