<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nyhedsbreve</title>
</head>
<body>
<h1>Liste af Nyhedsbreve</h1>
<div>
    <!-- Loop igennem nyhedsbreve -->
    <ul>
        <th:block th:each="newsletter : ${newsletters}">
            <li>
                <!-- Vis titel -->
                <h2 th:text="${newsletter.title}"></h2>

                <!-- Vis teasertext -->
                <p th:text="${newsletter.teasertext}"></p>

                <!-- Vis udgivelsesdato -->
                <p>Udgivet: <span th:text="${newsletter.published}"></span></p>

                <!-- Hvis thumbnail findes, vis billede -->
                <div th:if="${newsletter.thumbnail_name != null}">
                    <img th:src="@{/images/{thumbnail}(thumbnail=${newsletter.thumbnail_name})}" alt="Thumbnail">
                </div>

                <!-- vise link til nyhedsbrev filen -->
                <a th:href="@{/files/{filename}(filename=${newsletter.filename})}">Læs nyhedsbrev</a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>
